{:deps  {org.clojure/clojure     {:mvn/version "1.10.0-alpha6"}
         kixi/stats              {:mvn/version "0.4.3"}
         net.cgrand/xforms       {:mvn/version "0.18.2"}
         redux                   {:mvn/version "0.1.4"}
         org.clojure/data.csv    {:mvn/version "0.1.4"}
         thi.ng/geom             {:mvn/version "1.0.0-RC3"}}
 :paths ["src" "resources"]}
